
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Refresh" content="15; url='/'" />
    <a href="/" style="color:black background-color:powderblue"><b>PREDICT AGAIN</b></a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Note Prediction</title>
<style>

.container {
  position: absolute;
  text-align: center;
  color: black;
}
.Note-prediction {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}



p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    display: inline;
    color: Black;
}

h3 {
    font-family:Cursive;
    font-size: 30px;
    color: Black;
}
</style>
</head>

<body>
<div class="container">
    <img src="{{url_for('static', path='./css/money2.jpg')}}" alt="yes" style="pointer-events: none;width:100%;filter: blur(3px);position: fixed;">
    <div class="Note-prediction">
        <h3/><b>Entered Values with prediction:</b> </h3>
        <p><b>Variance&nbsp;:&nbsp;{{variance}}</b><br/><b>Skewness&nbsp;:&nbsp;{{skewness}}</b>
            <br/><b>Curtosis&nbsp;:&nbsp;{{curtosis}}</b><br/><b>Entropy&nbsp;:&nbsp;{{entropy}}</b>
                <br/><b>Prediction&nbsp;:&nbsp;{{prediction}}</b></p>
    </div>
</div>

</body>

</html>
 
 